<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wechat</title>
    <link rel="stylesheet" class="ui" href="/static/css/semantic.min.css"/>
    <link rel="stylesheet" class="ui" href="/static/css/body.css"/>
    <link rel="stylesheet" class="ui" href="/static/css/chat.css"/>
    <style>
        .main.container {
            padding-top:45px;
        }
    </style>
</head>
<body id="example" class="Grid">
<!-- Top Bar  -->
<div class="ui fixed transparent inverted main menu">
    <div class="container">
        <a class="launch item"><i class="icon list layout"></i> 内容</a>
        <div class="title item">
            <b>We Chat</b> 在线聊天系统
        </div>

        <div class="right menu">
            <div class="title item">
                Backbonejs交流群：308466740
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div id="main" class="main container">

    <!-- Topic List -->
    <div id="topic_list" class="ui three column grid">
    </div>

    <!-- Message -->
    <div  class="ui column grid" id="message_section">
        <div class="column">
            <div class="circular ui button"><a href="#index">返回列表</a></div>
            <div class="ui piled blue segment">
                <h2 class="ui header">
                    #<i id="message_head"></i>#
                </h2>
                <div id="message_list" class="ui comments">
                    <!-- comments section -->
                </div>
                <form class="ui reply form">
                    <div class="field">
                        <input type="text" id="comment"/>
                    </div>
                    <div id="submit" data="" class="ui fluid blue labeled submit icon button">
                        <i class="icon edit"></i> 我也来说一句！
                    </div>
                </form>
            </div>
        </div>
    </div>


<script type="text/template" id="topic-template">
    <a href="#topic/<%= id %>">
        <div class="column">
            <div class="ui segment">
                <h3><%= title %></h3>
                <p>
                创建者：<%= owner_name %>
                </p>
                <p>
                创建时间：<%= created_time %>
                </p>
            </div>
        </div>
    </a>
</script>

<script type="text/template" id="message-template">
<div class="content <% if(is_mine) { %> right <% } %>" data="<%= id %>">
        <a class="author"><%= user_name %></a>
        <br/>
        <div class="metadata">
            <span class="date"><%= created_time %></span>
        </div>
        <div class="text">
            <div class="ui pointing label large <% if(is_mine) { %> right <% } %>">
                <p><%= content %></p>
            </div>
        </div>
    </div>
</script>

</div>
    <footer>
        copyright @ power by <a href="http://the5fire.com">the5fire</a>
    </footer>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/chat.js"></script>
</body>
</html>
