<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wechat</title>
    <link rel="stylesheet" class="ui" href="/static/css/semantic.min.css"/>
    <link rel="stylesheet" class="ui" href="/static/css/body.css"/>
    <style>
        .main.container {
            padding-top:45px;
        }
    </style>
</head>
<body id="example" class="Grid">
<!-- Top Bar  -->
<div class="ui fixed transparent inverted main menu">
    <div class="container">
        <a class="launch item"><i class="icon list layout"></i> 内容</a>
        <div class="title item">
            <b>We Chat</b> 在线聊天系统
        </div>

        <div class="right menu">
            <div class="title item">
                Backbonejs交流群：308466740
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="main container">

    <!-- Topic List -->
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <h3>Python基础</h3>
                <p>
                创建者：11
                创建时间：2014-03-04
                </p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Python基础</h3>
                <p>
                创建者：11
                创建时间：2014-03-04
                </p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Python基础</h3>
                <p>
                创建者：11
                创建时间：2014-03-04
                </p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Python基础</h3>
                <p>
                创建者：11
                创建时间：2014-03-04
                </p>
            </div>
        </div>
    </div>

    <!-- Message -->
    <div class="ui column grid">
        <div class="column">
            <div class="ui piled blue segment">
                <h2 class="ui header">
                    <i class="icon inverted circular blue comment"></i>TOPIC #Python基础# 
                </h2>
                <div class="ui comments">
                    <div class="comment">
                        <div class="content">
                            <a class="author">华寅</a>
                            <div class="metadata">
                                <span class="date">2天前</span>
                            </div>
                            <div class="text">
                                <div class="ui pointing left label large">
                                    <p>这是一个和内容宽度一样的消息控件。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="content">
                            <a class="author">华寅</a>
                            <div class="metadata">
                                <span class="date">2天前</span>
                            </div>
                            <div class="text">
                                <div class="ui pointing left label large">
                                    <p style="font-size:20px">这这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。这是一个和内容宽度一样的消息控件。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment" style="float:right">
                        <div class="content">
                            <a class="author" style="float:right">华寅</a>
                            <div class="metadata" style="float:right">
                                <span class="date">2天前</span>
                            </div>
                            <div class="text">
                                <div class="ui pointing right label large">
                                    <p>这是一个和内容宽度一样的消息控件。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea></textarea>
                        </div>
                        <div class="ui fluid blue labeled submit icon button">
                            <i class="icon edit"></i> 我也来评论一下！
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
    <footer>
        copyright @ power by <a href="http://the5fire.com">the5fire</a>
    </footer>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/chat.js"></script>
</body>
</html>
