div.right, div.right a.author, div.right div.metadata, div.right>div.text {
    float: right;
}
div.content {
    width: 250px;
}
.comment {
    min-height: 85px;
}
#message_list {
    height: 400px;
    overflow-y: auto;
}
.label>p {
    text-transform: none;
}
